<!DOCTYPE html>
<html>
  <head>
    <title>Ceramic</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://raleighartsfestival.com/wp-content/uploads/2018/04/Morgan-Harris-Ceramics.jpg" alt="Ceramic">
                <div class="caption">
                        <h3>Artsposure Ceramic</h3>
                </div>
                <div class="clearfix">
                    <a href="#" class="btn btn-info pull-right" role="button">$ 300</a>
                </div>
            </div>
        </div>
        <div class="alert alert-success" role="alert">Yes..Your Payment Is Successfull.</div>
        <div class="list-group container text-left" style="width:400px;">
                <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">Artsposure Ceramic</h4>
                <p class="list-group-item-text"></p>
                </a>
                 <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">Address</h4>
                <p class="list-group-item-text">Boys Hostel, Sector-28,<br>Gandhinagar-382028</p>
                </a> <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">Payment</h4>
                <p class="list-group-item-text">300$  Payment is Done via Debit Card</p>
                </a>
        </div>
    </div>
    
    


    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
